.login-component{
    
    width: 100%;
    height: auto;
    margin: auto;
    min-height: 90vh;
    background-image: url("https://www.aha.video/backgroundcheck.975c41117a3dd7355f3b.svg");
    background-repeat: no-repeat;
    background-color: linear-gradient(180deg,#3b4046 9.38%,#2d3037);
    background-size: 100vw;
    
}
.login{
    min-width: 552px;
    width: 552px;
    min-height: 31.3rem;
    max-height: 33rem;
    background: #1f2427;
    border: 1px solid #35393f;
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
}
svg{
    width: 9;
    height: 16;
    fill: none;
}
svg:not(:root) {
    overflow: hidden;
}
.email__arrow{
    position: absolute;
    top: 13%;
    left: 8%;
    cursor: pointer;
}
.email{
    color: #fff;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 32px;
    text-align: left;
}
.email>p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.dot{
   color:#ff6d2e
}

.container{
    
        display: block;
   
}
.input-mobile{
    display: flex;
    padding: 4%;
    border: 1px solid #3b4046;
    margin-top: 3%;
    font-size: 50%;
    border-radius: 10px;
    width: 90%;
    background: linear-gradient(139.8deg,hsla(0,0%,100%,.2) 10.38%,hsla(0,0%,100%,0) 137.67%);
}
.input-mobile>input{
    width: 100%;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    color: #fff;
    font-size: 100%;
    font-weight: 900;
}
.code{
    margin-left: 4%;
    padding-right: 5%;  
    
}
.line{
    height: 20px;
    width: 1px;
    background-color: #fff;
    margin-top: 2.5%;
    margin-right: 4%;
}
textarea, input { outline: none; }
.main-button__wrapper[_ngcontent-serverApp-c121] {
   
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.button{
    cursor: pointer;
    font-size:medium;
    padding-top: 2%;
    font-weight:400;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    height: 48px;
    border-radius: 25px;
    background: #b61a09;
    background: linear-gradient(
0deg
,#b61a09 -86%,#ff6d2e);
}
.other-options{
    font-size: medium;
    font-weight:400;
}
.options{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content:space-between
}
.option-email{
    display: flex;
    height: 30px;
    width: 30%;
    border: 1px solid #3b4046;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    cursor: pointer;
}

.option-email-p{
    font-size: 15px;
    font-weight: 100;
}
.facebook{
    
    background: none;
	color: inherit;
	border: 1px solid #3b4046;
	height: 32px;
	font: 15px;
    font-weight: 100;
	cursor: pointer;
	outline: inherit;
    width: 140%;
    bottom: 40px;
    padding: 15%;
    align-self: center;
    margin-bottom: 18%;
    border-radius: 5px;
}
.fa{
    margin-right: 8%;
}
.google{
    display: flex;
    height: 30px;
    width: 150%;
    border: 1px solid #3b4046;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 20%;
}

